# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HVSort.iml
# Datasource local storage ignored files
/../../../../../../../:\0_UnityProjects\HVSort\HVSort\.idea\.idea.HVSort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
